extends layout

block content

	div.youtube_video
		iframe(width='853', height='480', src='http://www.youtube.com/embed/videoseries?list=PLMKC2AN56VgZKO9ky8HGDtywcXL2NidQm', frameborder='0', allowfullscreen='allowfullscreen')

	div.youtube_button
		a.white_text(href='http://www.youtube.com/user/jeanhuanglab/videos', target="_blank") More Podcasts
