extends layout

block content

	div.youtube_video
		iframe(width='853', height='480', src='https://www.youtube.com/embed/bl94JdiK2a4?list=UUGIKUgfJlaK_tdVulTiTYxQ?wmode=transparent', frameborder='0', allowfullscreen='allowfullscreen')

	div.youtube_button
		| More Podcasts