extends layout

block content
	div.minions
		img(src="http://i.imgur.com/ZYPjzTk.gif")
	div.minions
		img(src="http://i.imgur.com/bQ0sBoS.gif")
	div.minions
		img(src="http://i.imgur.com/Z5YNc0z.gif")
	div.minions
		img(src="http://i.imgur.com/MXCQjF7.gif")
	div.minions
		img(src="http://i.imgur.com/DSQNHQk.gif")
	div.minions
		img(src="http://i.imgur.com/Hm6e6qt.gif")
	div.minions
		img(src="http://i.imgur.com/1WVTaAf.gif")
	div.minions
		img(src="http://i.imgur.com/j8rO2up.gif")