extends layout

block content

	//- link header creation
	div.header
		div.logo J. Huang Laboratory
			div.sublogo Franklin W. Olin College of Engineering
		div.tabholder
			a.tablink(href="http://www.google.com")
				div.tab news
			a.tablink(href="http://www.google.com")
				div.tab publications
			a.tablink(href="http://www.google.com")
				div.tab lab members
			a.tablink(href="http://www.google.com")
				div.tab research
			a.tablink(href="http://www.google.com")
				div.tab about
	
	//- about main body
	div.slideshow