extends layout

block content

	div.person
		img.transparent_picture(src='https://lh3.googleusercontent.com/-jMQ5lbEnRMg/UbnGnD4BWcI/AAAAAAAAAHM/0rIcgMxs1X0/s747-no/current_member.png')
		img.person_picture(src='https://lh4.googleusercontent.com/--6HBeNDiDjs/UbiM_nBBU6I/AAAAAAAAAEU/1YHZ0z5HrI8/s640-no/303960_2033232074341_849958530_n.jpg')
		div.person_name
			| BRANDON CHIOU
		div.person_description
			| random text everywhere! random text everywhere! random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere! random text everywhere! random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!

	div.person
		img.transparent_picture(src='https://lh3.googleusercontent.com/-jMQ5lbEnRMg/UbnGnD4BWcI/AAAAAAAAAHM/0rIcgMxs1X0/s747-no/current_member.png')
		img.person_picture(src='https://lh3.googleusercontent.com/-4tIPE9QCCYk/UbiM_DcGn3I/AAAAAAAAAEI/OQ8lZENefUM/s400-no/336514_1959331504326_868169121_o.jpg')
		div.person_name
			| PHILICIA CHOW
		div.person_description
			| random text everywhere! random text everywhere! random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere! random text everywhere! random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!

	div.person
		img.transparent_picture(src='https://lh3.googleusercontent.com/-jMQ5lbEnRMg/UbnGnD4BWcI/AAAAAAAAAHM/0rIcgMxs1X0/s747-no/current_member.png')
		img.person_picture(src='https://lh5.googleusercontent.com/-FlGzPFhwFm4/UbiNAAGuaFI/AAAAAAAAAEw/f6LxrXMNU64/s712-no/548248_4228364076452_2090215418_n.jpg')
		div.person_name
			| PAIGE COTE
		div.person_description
			| random text everywhere! random text everywhere! random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere! random text everywhere! random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!

	div.person
		img.transparent_picture(src='https://lh3.googleusercontent.com/-jMQ5lbEnRMg/UbnGnD4BWcI/AAAAAAAAAHM/0rIcgMxs1X0/s747-no/current_member.png')
		//- img.person_picture(src='https://lh5.googleusercontent.com/-FlGzPFhwFm4/UbiNAAGuaFI/AAAAAAAAAEw/f6LxrXMNU64/s712-no/548248_4228364076452_2090215418_n.jpg', alt='Paige Cote')
		div.person_name
			| ANTONIA ELSEN
		div.person_description
			| random text everywhere! random text everywhere! random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere! random text everywhere! random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!

	div.person
		img.transparent_picture(src='https://lh3.googleusercontent.com/-jMQ5lbEnRMg/UbnGnD4BWcI/AAAAAAAAAHM/0rIcgMxs1X0/s747-no/current_member.png')
		img.person_picture(src='https://lh6.googleusercontent.com/-DMlJrcPVLss/UbiNALGVUeI/AAAAAAAAAEs/Qlt82zUtBpc/s419-no/602246_10151224583178923_829536824_n.jpg')
		div.person_name
			| EMILY MAMULA
		div.person_description
			| random text everywhere! random text everywhere! random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere! random text everywhere! random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!

	div.person
		img.transparent_picture(src='https://lh3.googleusercontent.com/-jMQ5lbEnRMg/UbnGnD4BWcI/AAAAAAAAAHM/0rIcgMxs1X0/s747-no/current_member.png')
		img.person_picture(src='https://lh4.googleusercontent.com/-DFRDU2qe-I4/UbiNAVGabWI/AAAAAAAAAEo/kq-xo3V8Pto/s600-no/Apr+19%252C+2013+9-25-38+PM.jpg')
		div.person_name
			| H. DAVID ZHU
		div.person_description
			| random text everywhere! random text everywhere! random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere! random text everywhere! random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!random text everywhere!