doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Julius+Sans+One|Oxygen:300', type='text/css')
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
		script(src="")
		script(src="/scripts/main.js")
	body
		//- header
		div.header
			div.logo J. Huang Laboratory
				div.sublogo 
					a.tablink(href="http://www.olin.edu/", target="_blank") Franklin W. Olin College of Engineering
			div.tabholder
				a.tablink(href="/biocast")
					div.tab biocast
				a.tablink(href="http://www.nature.com/", target="_blank")
					div.tab publications
				a.tablink(href="/lab_members")
					div.tab lab members
				a.tablink(href="/research")
					div.tab research
				a.tablink(href="/")
					div.tab about
		div.header_background
		block content